<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	<filter>
		<filter-name>filter</filter-name>
		<filter-class>io.mine.ft.train.filter.CodeImpl</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>filter2</filter-name>
		<filter-class>io.mine.ft.train.filter.LoginImpl</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter2</filter-name>
		<url-pattern>/student/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filter2</filter-name>
		<url-pattern>/teacher/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>LoginAction</servlet-name>
		<servlet-class>io.mine.ft.train.action.LoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginAction</servlet-name>
		<url-pattern>/loginAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QueryAllInteractAction</servlet-name>
		<servlet-class>io.mine.ft.train.action.QueryAllInteractAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryAllInteractAction</servlet-name>
		<url-pattern>/student/queryAllInteractAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VagueQueryInteractAction</servlet-name>
		<servlet-class>io.mine.ft.train.action.VagueQueryInteractAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VagueQueryInteractAction</servlet-name>
		<url-pattern>/student/vagueQueryInteractAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VagueQueryTeacherAction</servlet-name>
		<servlet-class>io.mine.ft.train.action.VagueQueryTeacherAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VagueQueryTeacherAction</servlet-name>
		<url-pattern>/student/vagueQueryTeacherAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QueryAllTeacherAction</servlet-name>
		<servlet-class>io.mine.ft.train.action.QueryAllTeacherAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryAllTeacherAction</servlet-name>
		<url-pattern>/student/queryAllTeacherAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateInteractAction</servlet-name>
		<servlet-class>io.mine.ft.train.action.CreateInteractAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateInteractAction</servlet-name>
		<url-pattern>/student/createInteractAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteInteractByIdAction</servlet-name>
		<servlet-class>io.mine.ft.train.action.DeleteInteractByIdAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteInteractByIdAction</servlet-name>
		<url-pattern>/student/deleteInteractByIdAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QueryInteractDetailAction</servlet-name>
		<servlet-class>io.mine.ft.train.action.QueryInteractDetailAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryInteractDetailAction</servlet-name>
		<url-pattern>/student/queryInteractDetailAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EstimateAccusationUpdateAction</servlet-name>
		<servlet-class>io.mine.ft.train.action.EstimateAccusationUpdateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EstimateAccusationUpdateAction</servlet-name>
		<url-pattern>/student/estimateAccusationUpdateAction</url-pattern>
	</servlet-mapping>
</web-app>
